html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-space, .right-space {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15vw; /* Adjust the width of the clickable area */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto; /* Ensure clickable areas can receive pointer events */
    z-index: 1; /* Ensure arrows are above other elements */
    transition: opacity 0.3s; /* Smooth transition for hiding/showing */
}

.left-space.hidden, .right-space.hidden {
    opacity: 0; /* Hide arrows when loading */
    pointer-events: none; /* Disable pointer events */
}

.left-space {
    left: 0;
}

.right-space {
    right: 0;
}

.arrow {
    width: 8vw; /* Width of the arrow as a percentage of viewport width */
    height: 8vw; /* Height of the arrow as a percentage of viewport width */
    background-color: rgba(255, 165, 0, 0.7); /* Semi-transparent orange background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 4vw; /* Font size as a percentage of viewport width */
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 2; /* Ensure arrows are clickable above other elements */
}

.arrow.left::before {
    content: '←'; /* Left arrow */
}

.arrow.right::before {
    content: '→'; /* Right arrow */
}

#start-over {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 165, 0, 0.7); /* Semi-transparent orange background */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw; /* Font size relative to viewport width */
    cursor: pointer;
    z-index: 2; /* Ensure the button is above other elements */
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none; /* Hide initially */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Slight background to obscure content */
    z-index: 1000; /* Ensure loader is above all other content */
}

.loader {
    width: 10vw; /* Width relative to viewport width */
    height: 10vw; /* Height relative to viewport width */
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 8px solid rgba(255, 165, 0, 0.7);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
