body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}

.left-space, .right-space {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    cursor: pointer;
}

.left-space {
    left: 0;
}

.right-space {
    right: 0;
}
