body {
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-space, .right-space {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15vw; /* Adjust the width of the clickable area */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left-space {
    left: 0;
}

.right-space {
    right: 0;
}

.arrow {
    width: 8vw; /* Width of the arrow as a percentage of viewport width */
    height: 8vw; /* Height of the arrow as a percentage of viewport width */
    background-color: rgba(255, 165, 0, 0.7); /* Semi-transparent orange background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 4vw; /* Font size as a percentage of viewport width */
    font-weight: bold;
    text-align: center;
}

.arrow.left::before {
    content: '←'; /* Left arrow */
}

.arrow.right::before {
    content: '→'; /* Right arrow */
}
